.app-layout-template {
	background-image: url("/images/body-bg.png");

	.app-layout-template__wrapper::before {
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 4px;
		position: absolute;
		background-image: url("/images/top-strip.jpg");
	}
}
